.pharmacy-form {
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.pharmacy-form-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pharmacy-form-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post-pharmacy-btn {
  width: fit-content;
  margin: 10px;
  color: white;
}
.pharmacy-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}
.btn-display {
  display: flex;
  align-items: end;
  margin-top: 50px;
}
